.box-layout {
  align-items: center;
  display: flex;

  &--full-page {
    height: 100vh;
    justify-content: center;
    width: 100vw;
  }
  &--mandatory-overlay {
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba($pure-black, 0.3);
    z-index: 99999;
  }
  &--auth-page {
    // background: url('/images/stick-figure-holding-two.jpg');
    // background-size: cover;
    background-color: basic-colors('white');
  }
}

.box-layout__box {
  background: $off-white;
  border-radius: 3px;
  box-shadow: 5px 5px 15px rgba($off-black, 0.3);
  padding: $l-size $m-size;
  text-align: center;

  &--auth-page {
    background-color: basic-colors('primary');
    margin: 0 $s-size;
    width: 40rem;

    p {
      color: basic-colors('white');
    }
  }
}

.box-layout__title {
  margin: 0 0 $m-size 0;
  line-height: 1;
}
