.box-layout {
  align-items: center;
  display: flex;

  &--full-page {
    height: 100vh;
    justify-content: center;
    width: 100vw;
  }
  &--auth-page {
    // background: url('/images/bg.jpg');
    background: url('/images/stick-figure-holding-one.jpg');
    background-size: cover;
  }
}

.box-layout__box {
  // background: fade-out($pure-white, .15);
  background: $off-white;
  border-radius: 3px;
  padding: $l-size $m-size;
  text-align: center;

  &--auth-page {
    width: 40rem;
    margin: 0 $s-size;
  }
}

.box-layout__title {
  margin: 0 0 $m-size 0;
  line-height: 1;
}
