.button {
  background: $off-black;
  border: none;
  border-radius: 3px;
  color: $pure-white;
  display: inline-block;
  font-size: $font-size-large;
  font-weight: 300;
  line-height: 1;
  padding: $s-size;
  text-decoration: none;
}

.button--link {
  background: transparent;
}

.button--secondary {
  background: #888;
}

.button--auth-page {
  min-width: 12rem;
}

.button--friends-filter {
  background-color: $dark-blue;
  margin: 0 $xxs-size;
  min-width: 120px;
}

.button--modify-friends {
  background-color: #364051;
}
