.button {
  background: $off-black;
  border: none;
  border-radius: $default-button-border-radius;
  color: $pure-white;
  display: inline-block;
  font-family: 'Work Sans';
  font-size: $font-size-large;
  font-weight: 300;
  line-height: 1;
  padding: $s-size;
  text-decoration: none;
}

.button--link {
  background: transparent;
}

.button--secondary {
  background: #888;
}

.button--auth-page {
  min-width: 12rem;
}

.button--friends-filter {
  background-color: lighten($pure-black, 10%);
  margin: 0 $xxs-size;
  min-width: 120px;
}

.button--modify-friends {
  background-color: lighten($pure-black, 10%);
}

.button--add-friends {
  background-color: lighten($pure-black, 10%); 
}

.button--cancel {
  border-radius: 0;
}
