.text-input {
  border: 1px solid #cacccd;
  height: 30px;
  font-size: $font-size-large;
  font-weight: 300;
  padding: $xs-size;
}

.text-input__auth {
  height: 50px;
  padding: $s-size;
}

.select {
  @extend .text-input;
}

.select__location-picker {
  max-width: 250px;
  margin: $xxs-size 0;
}

.textarea {
  @extend .text-input;
  height: 10rem;
}
