.alert-modal {

  &__box {
    min-width: 350px;
    position: relative;
    width: 50%;

    @include breakpoint(ipad-horizontal) {
      width: 75%;
    }
  }
  &__cancel {
    position: absolute;
    top: 0;
    right: 0;
  }
  &__filter {
    background-color: basic-colors('primary-dark-15');
  }
  &__main-text {
    color: basic-colors('black');
    font-size: 2.5vmax;
    line-height: 1.6;
  }
  &__sub-text {
    font-style: italic;
  }
}