.friends-area {
  &__container {
    display: grid;
    grid-template-columns: repeat(3, auto);
  }
}

.friends-list {
  &__table {

  }
  &__row {

  }
  &__category-title {
    cursor: pointer;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
  }
  &__sort-icon-container {
    display: inline-block;
    transition: all .1s ease-in-out;
  }
  &__sort-icon {
    &--down {
      transform: rotate(90deg);
    }
    &--up {
      transform: rotate(-90deg);
    }
    &--not-active {
      opacity: .3;
    }
  }
}
