.friends-area {
  &__container {
    display: grid;
    grid-template-rows: repeat(2, auto);
  }
}

.friends-list {
  margin: 0 auto;
}

.friends-list {
  &__title {
    text-align: center;
    background: url(/images/undraw_friendship_mni7.svg);
    background-size: 225px;
    background-position: 75% center;
    background-repeat: no-repeat;
  }
  &__table {
    background-color: basic-colors('primary-light');
    border-radius: 10px;
    // box-shadow: 10px 10px 15px #96b2ff;
    // box-shadow: inset 0 0 100px rgba(0,0,0,.5);
    box-shadow: inset 0 0 10px $pure-white;
    color: basic-colors('black');
    font-family: 'Open Sans';
    font-weight: 300;
    padding: 1.2rem;
  }
  &__table td {
    width: 100%;
    min-width: 285px;
  }
  &__row {

  }
  &__name {
    text-align: center;
  }
  &__relationship {
    text-align: center;
  }
  &__location {
    text-align: left;
  }
  &__ranking {
    text-align: center;
  }
  &__category-title {
    color: $pure-black;
    cursor: pointer;
    font-family: 'Work Sans';
    font-weight: 600;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
  }
  &__sort-icon-container {
    display: inline-block;
    transition: all .1s ease-in-out;
  }
  &__input {
    width: 100%;
    // Insert styles for input when user is editing a friend
  }
  &__input.readonly {
    border: none;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  &__sort-icon {
    &--down {
      transform: rotate(90deg);
    }
    &--up {
      transform: rotate(-90deg);
    }
    &--not-active {
      opacity: .3;
    }
  }
  &__edit-friends-container {
    display: flex;
    justify-content: flex-end;
    margin: 5px 0;
  }
  &__delete {
    display: inline-block;
    margin-left: $xs-size;
  }
  &__delete svg {
    pointer-events: none;
  }
  &__edit {
    @extend .friends-list__delete;
  }
  &__edit svg {
    pointer-events: none;
  }
  &__cancel-edit {
    @extend .friends-list__delete;
  }
  &__cancel-edit svg {
    pointer-events: none;
  }
}

.friends-query {
  &__container {
    display: grid;
    grid-template-columns: 75% 25%;
  }
  &__item {

  }
}

.manually-add-friend {
  // background-image: -webkit-linear-gradient(left, #2c3440, #5d616b, #91929a, #c7c7cb, #ffffff);
  // background-image: -o-linear-gradient(left, #2c3440, #5d616b, #91929a, #c7c7cb, #ffffff);
  // background-image: linear-gradient(to right, #2c3440, #5d616b, #91929a, #c7c7cb, #ffffff);
  // box-shadow: 0 0 1.5em 0 white inset;
}

.manually-add-friend {
  &__dv-star-rating {
    vertical-align: middle;
  }
}
