// Colors
$off-white: #fbfbfb;
$pure-white: #fff;
$dark-grey: #333;
$grey: #666;
$pure-black: #000;
$off-black: #1c1c1c;

$blue: #1c88bf;
$dark-blue: #364051;
$sky-blue: rgba(221, 235, 255, 0.75);

// Font Size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

// Spacing
$xxs-size: .4rem;
$xs-size: .8rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;