// Colors
$off-white: #fbfbfb;
$pure-white: #fff;
$dark-grey: #333;
$grey: #666;
$pure-black: #000;
$off-black: #1c1c1c;

// Basic Color Scheme
$basic-colors: (
  'primary': #4CC5F2, 
  'accent': #e83a30,
  'primary-dark': #3944AD,
  'primary-dark-15' : darken(#4CC5F2, 15%),
  'primary-light': lighten(#4CC5F2, 25%),
  'light-grey': #DEF4FD,
  'white': #FDFDFB,
  'black': #444444
);

$blue: #1c88bf;
$dark-blue: #364051;
$sky-blue: rgba(221, 235, 255, 0.75);

// Font Size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

// Spacing
$xxs-size: .4rem;
$xs-size: .8rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

// Misc

$default-button-border-radius: 3px;